<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<section>
    <table style="width:100%">
        <tr th:if="${cart.items.empty}">
            <td colspan="2"> Cart is empty</td>
        </tr>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr  th:each="item : ${cart.items}">
            <td><span th:text="${item.imageUrl}"></span></td>
            <td><span th:text="${item.name}"></span></td>
            <td>$<span th:text="${item.price}"></span></td>
            <td><span th:text="${item.quantity}"></span></td>
            <td>$<span th:text="${item.totalPrice}"></span></td>
        </tr>
        <tr>
            <td colspan="4">Subtotal</td>
            <td>$<span th:text="${cart.subtotal}"></span></td>
        </tr>
    </table><br>
    <button onclick="window.location.href='/shop';">continue shopping</button>
    <button onclick="window.location.href='/shop/shipping';">checkout</button>
</section>
</body>
</html>