<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
  <title>Shop</title>
</head>
<body>

<section>
  <div th:each="product : ${products}">
  <table>
    <tr>
      <td rowspan="3">Image</td>
      <td><span th:text="${product.name}"></span></td>
      <td rowspan="3">
        <form action="#" th:action="@{shop/add}" th:object="${productModel}" method="post">
          <input type="hidden" id="productId" name="productId" th:value="${product.product_id}">
          <input type="hidden" id="name" name="name" th:value="${product.name}">
          <input type="hidden" id="description" name="description" th:value="${product.description}">
          <input type="hidden" id="price" name="price" th:value="${product.price}">
          <input type="hidden" id="imageUrl" name="imageUrl" th:value="${product.image_url}">
          <button>add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <td><span th:text="${product.description}"></span></td>
    </tr>
    <tr>
      <td>$<span th:text="${product.price}"></span></td>
    </tr>
  </table>
  </div>
</section>

</body>
</html>